# Root Directory
.env

# IoT Device
/iot-device/.old

# Terraform
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup

# Terraform Outputs
iot-device/.certs/*.pem
iot-device/.certs/*.crt
iot-device/.certs/*.key
iot-device/.certs/*.txt
frontend/.config/*.json
.amplify_url.txt

# DS_Store (MacOS)
.DS_Store
api/.DS_Store
certs/.DS_Store
frontend/.DS_Store
iot-device/.DS_Store
terraform/.DS_Store

# Assets
.assets/*
!.assets/diagram.drawio
!.assets/diagram.png
!.assets/terraform.png